/* Anne Hazel
 * Project a1
 * DWA15 Spring 2017 */

#headshot {
    width: 200px;
}

#main {
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 20px auto auto 20px;
}
